{% extends 'base.html.twig' %}

{% block title %}Moment index{% endblock %}

{% block body %}
    <h1>Moment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for moment in moments %}
            <tr>
                <td>{{ moment.id }}</td>
                <td>{{ moment.jour }}</td>
                <td>
                    <a href="{{ path('moment_show', {'id': moment.id}) }}">show</a>
                    <a href="{{ path('moment_edit', {'id': moment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('moment_new') }}">Create new</a>
{% endblock %}
