{% extends 'base.html.twig' %}

{% block title %}Musees{% endblock %}

{% block body %}
    <h1>Musees</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ musee.id }}</td>
            </tr>
            <tr>
                <th>NumMus</th>
                <td>{{ musee.numMus }}</td>
            </tr>
            <tr>
                <th>NomMus</th>
                <td>{{ musee.nomMus }}</td>
            </tr>
            <tr>
                <th>Nblivres</th>
                <td>{{ musee.nblivres }}</td>
            </tr>
            <tr>
                <th>CodePays</th>
                <td>{{ musee.codePays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('musees_index') }}">back to list</a>

    <a href="{{ path('musees_edit', {'id': musee.id}) }}">edit</a>

    {{ include('musees/_delete_form.html.twig') }}
{% endblock %}
