{% extends 'base.html.twig' %}

{% block title %}Ouvrage{% endblock %}

{% block body %}
    <h1>Ouvrage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ouvrage.id }}</td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td>{{ ouvrage.ISBN }}</td>
            </tr>
            <tr>
                <th>NbPage</th>
                <td>{{ ouvrage.nbPage }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ ouvrage.titre }}</td>
            </tr>
            <tr>
                <th>CodePays</th>
                <td>{{ ouvrage.codePays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ouvrage_index') }}">back to list</a>

    <a href="{{ path('ouvrage_edit', {'id': ouvrage.id}) }}">edit</a>

    {{ include('ouvrage/_delete_form.html.twig') }}
{% endblock %}
